{% extends "menu.html" %}

{% block title %}Info{% endblock %}

{% block content %}
<main>
	<h1>justeap<small>– Client certificate authentication made easy</small></h1>
	<p>This system aims to streamline the provision of secure network access by issuing certificates and configuration files for various systems.</p>
        <p>It is based on <a href="https://geteduroam.app">geteduroam</a>'s letswifi software</p>
        <hr/>
        <p class="apps"><a href="{{ manual.url }}" class="btn btn-default">Log in</a></p>
</main>
{% endblock %}
